<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
    <head>
        <meta charset="UTF-8">
        <title>layout</title>
        <link th:href="@{/css/header.css}" rel="stylesheet"/>
        <link th:href="@{/css/footer.css}" rel="stylesheet"/>
        <!-- 폰트어썸 -->
        <script th:src="@{https://kit.fontawesome.com/3337789680.js}" crossorigin="anonymous"></script>
    </head>
    <body>

    <!--헤더-->
    <div class="header">
        <div class="headerContainer">
            <div class="headerLogo">
                <a href="home">
                    <img src="/assets/logo/Original on Transparent.png">
                </a>
            </div>
            <div class="headerList">
                <div class="listAlign">
                    <a href="read">
                        <span>사용자(정보수정)</span>
                    </a>
                    <a href="movie">
                        <span>영화</span>
                    </a>
                    <a href="tv">
                        <span>TV</span>
                    </a>
                    <a href="actor">
                        <span>배우</span>
                    </a>
                    <a href="#">
                        <span>걸(乞)작선</span>
                    </a>
                </div>
            </div>
            <div class="headerSearch">
                <input class="searchBar searchItem" type="text">
                <div class="searchBarShadow searchItem"></div>
                <i class="fa-solid fa-magnifying-glass searchIcon "></i>
            </div>
        </div>
    </div><!--헤더끝-->
    <th:block th:replace="${content}"></th:block>
    <!--footer-->
    <div class="footerGap"></div>
    <div class="footer">
        <div class="footerMenu">

        </div>
        <div class="footerCopyright">
            © mangjakseon Limited.
        </div>
    </div><!--footer 끝-->
    </body>
</th:block>
</html>