<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">
    <head>
        <meta charset="UTF-8">
        <title>list</title>
        <link th:href="@{/css/list.css}" rel="stylesheet"/>
    </head>
    <body>
        <diV class="listContainer">
            <div class="sort">
                <div class="sortBox">정렬</div>
                <div class="sortBox">
                    Sort Results By<br>

                </div>
                <button class="sortButton">검색</button>
           </div>
            <div class="list">d</div>
        </diV>
    </body>
</th:block>
</html>