.mainContainer{
    width: 60%;
    height: auto;
    margin: auto;
    /*background-color: #3976DC;*/
    display: grid;
    grid-template-columns: 30% 70%
}
@media all and (min-width:768px) and (max-width:1500px) {
    .mainContainer{
        /*background-color: chartreuse;*/
        width: 100%;
    }

}
.profile{
    /*background-color: #E0C010;*/
    text-align: center;
    width: 100%;
    height: 400px;
}
.profile img {
    width: 300px;
    margin-top: 25px;
    border-radius: 7px;
    object-fit: cover;
}

.actorName{
    margin-top: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
}
.title{
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.content{
    color: white;
    font-size: 15px;
}
.sns{
    /*background-color: darkblue;*/
}
.fa-brands{
    color: white;
    font-size: 30px;

}
.fa-brands:hover{
    color: #4d4d4d;

}
a{
    text-decoration:none
}

.mainContainer2{
    /*background-color: #00C030;*/
    width: 60%;
    height: auto;
    margin: auto;
    padding-top: 50px;
}
@media all and (min-width:768px) and (max-width:1500px) {
    .mainContainer2{
        /*background-color: chartreuse;*/
        width: 100%;
    }

}
.biographyTitle{
    border-bottom: 1px #445566 solid;
}
.biographyContent{
    /*background-color: #d54e4e;*/
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-row-gap: 40px;
}
.movie{
    text-align: center;
}
.movie img{
    width: 150px;
    height: 230px;
    border-radius: 7px;
    object-fit: cover;
}
.movieTitle{
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.character{
    color: white;
    font-size: 12px;
}
