*{
    color: white;
}

.r_title{
    margin:0;
    font-size: 20px;
    padding-left: 15%;
}

.r_content{
    padding-left: 15%;
    width: 85%;
}

.r_date{
    position: absolute;
    padding-left: 15%;
    font-size: 10px;
}
#username{
    color: black!important;
}
#password{
    color: black!important;
}
.modify_list{
    padding-left: 15%;
}

