<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Please sign in</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<th:block th:fragment="setLogin(login)">
<body>
<div class="container">
  <form class="form-signin" method="post" th:action="@{/login}">
    <p>
      <label for="username" class="sr-only">Username</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Email" required autofocus>
    </p>

    <p>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    </p>

    <span th:if="${error}">
        <p id="valid" class="alert alert-danger">[[${exception}]]</p>
    </span>

    <button class="btn btn-lg btn-primary btn-block" type="submit" style="width:200px; margin:10px auto ;">로그인</button>
    <button class="btn btn-lg btn-secondary btn-block" type="button" style="width:200px; margin:10px auto;" onclick="acRegister()">회원가입</button>

  </form>

  <script>
    function acRegister(){
      let form = document.createElement('form');
      form.setAttribute('method','get');
      form.setAttribute('action','/sign-up');
      document.body.appendChild(form);
      form.submit();
    }
  </script>

  <div class="container" style="width:300px;">
  <table class="table table-striped">
    <!-- 구글 로그인 -->
    <tr style="background-color:#4285F4"><td>
      <div>
        <img src="/assets/googleIcon.png" width="20px" height="20px" >
        <a href="/oauth2/authorization/google" style="color:black;">&nbsp Google 계정으로 계속하기</a>
      </div>
    </td></tr>
  </table>
  </div>
</div>
</body>
</th:block>
</html>