<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/read.css}" rel="stylesheet"/>
<link th:href="@{/css/menu.css}" rel="stylesheet"/>
<th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="listTitle">회원 정보</div>
        <div class="listGap"></div>
        <input type="hidden" name="memberId" th:value="${dto.memberId}">
        <input type="hidden" name="fromSocial" th:value="${dto.fromSocial}">
        <div class="memberInfo">
            <div class="profileImage">
                <img th:src="@{${'/profile_images/'+dto.profileImage}}" onerror="this.src='/assets/null/null.png';"/><br>
                <span>[[${dto.nickname}]]</span>
            </div>
            <div class="infoView">
                <span>이메일</span><br><input type="text" name="email" th:value="${dto.email}" readonly><br>

                <span>닉네임</span><br><input type="text" name="nickname" th:value="${dto.nickname}" readonly>

                <input type="hidden" id="regDate" th:value="${dto.regDate}"/>

                <br>
                <h5 style="color:green"><span id="withDate"></span>일째 망작선과 항해중..</h5>
                <div class="button">
                    <a href="/modify"><button class="modify">수정하기</button></a>
                    <form method="post" th:action="@{/remove(memberId=${dto.memberId})}">
                        <button class="delete" type="submit">회원탈퇴</button>
                    </form>
                </div>
            </div>
        </div>
        <script>
            var today = new Date();
            var tempRegDate = document.getElementById("regDate").value;
            var regDate = new Date(tempRegDate);
            var withDate = Math.floor((today.getTime() - regDate.getTime()) / (1000 * 60 * 60 * 24));

            document.getElementById("withDate").innerHTML = withDate;
        </script>
    </th:block>
</th:block>