<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/review.css}" rel="stylesheet"/>
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/js/review.js}"></script>
<th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="mainContainer">
            <div class="posterContainer">
                <!--포스터 필드-->
                <div class="posterField"></div><!--포스터 필드끝-->
            </div>
        </div>
        <div class="mainContainer2">
            <!--영화소개-->
            <div class="movieReviewContainer">
                <div class="movingPoster">
                    <div class="posterBox">
                        <img th:src="@{'https://image.tmdb.org/t/p/w200'+${movieData.poster_path}}">
                    </div>
                    <div class="posterRanking">
                        <i class="fa-solid fa-eye"></i>
                        <span>24</span>&nbsp;
                        <i class="fa-solid fa-crown"></i>
                        <span>53</span>
                    </div>
                    <div class="whereToWatch">
                        <div class="watchTitle">
                            <div>WHERE TO WATCH</div>
                            <div><i class="fa-brands fa-youtube"></i>&nbsp;Trailer</div>
                            <div>넷플릭스</div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="movieReviewTitle">
                    <span>[[${movieData.title}]]</span>
                    <span>[[${movieData.release_date}]] Directed by 이사랑</span>
                </div>
                <div class="movieContent">
                    <div class="textContent">
                        [[${movieData.overview}]]
                    </div>
                    <div class="castContent">
                        <div class="castTitle">
                            주요 출연진
                        </div>
                        <div class="castPicture">
                            <div class="castItem">
                                <div class="castFace">
                                    <img src="/assets/dummy/soohyun.jpg">
                                </div>
                                <div class="castFace">
                                    <img src="/assets/dummy/dongil.jpg">
                                </div>
                                <div class="castFace">
                                    <img src="/assets/dummy/sungmin.jpg">
                                </div>
                                <div class="castFace">
                                    <img src="/assets/dummy/sulli.jpg">
                                </div>
                                <div class="castFace">
                                    <img src="/assets/dummy/woojin.jpg">
                                </div>
                                <div class="castFace">
                                    <img src="/assets/dummy/hongpa.jpg">
                                </div>
                                <div class="castFace">
                                    <img src="/assets/dummy/ingyeom.jpg">
                                </div>
                                <div class="castFace">
                                    <img src="/assets/dummy/choikwon.jpg">
                                </div>
                                <div class="castFace">
                                    <img src="/assets/dummy/gyupil.jpg">
                                </div>
                            </div>
                            <div class="castItem">
                                <div class="castName">
                                    <span>김수현</span><br>
                                    <span>장태영</span>
                                </div>
                                <div class="castName">
                                    <span>성동일</span><br>
                                    <span>조원근</span>
                                </div>
                                <div class="castName">
                                    <span>이성민</span><br>
                                    <span>최진기</span>
                                </div>
                                <div class="castName">
                                    <span>설리</span><br>
                                    <span>송유화</span>
                                </div>
                                <div class="castName">
                                    <span>조우진</span><br>
                                    <span>사동진</span>
                                </div>
                                <div class="castName">
                                    <span>김홍파</span><br>
                                    <span>최낙현</span>
                                </div>
                                <div class="castName">
                                    <span>정인겸</span><br>
                                    <span>김교수</span>
                                </div>
                                <div class="castName">
                                    <span>최권</span><br>
                                    <span>백실장</span>
                                </div>
                                <div class="castName">
                                    <span>고규필</span><br>
                                    <span>민머리</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="movieScoreField">
                    <div class="watch">
                        <i class="fa-solid fa-eye"></i><br>
                    </div>
                    <div class="writeReview">
                        리뷰 쓰기
                    </div>
                </div>
            </div><!--영화소개 끝-->
        </div>
        <div class="reviewListContainer">
            <div class="reviewItem">
                <div class="castTitle">
                    BEST 리뷰
                </div>
                <div class="bestReviewContent">

                </div>
                <div class="castTitle">
                    리뷰
                </div>
                <div class="reviewContent">

                </div>
            </div>
        </div>
    </th:block>
</th:block>