<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/menu.css}" rel="stylesheet"/>
<link th:href="@{/css/sign-up.css}" rel="stylesheet"/>
<script th:src="@{/js/sign-up.js}"></script>
<th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="listGap"></div>
        <div class="listGap"></div>

        <div class="infoContent">
            <div class="infoText">
                <span class="infoTitle">망한 영화에 다른 시각을 가진</span><br>
                <span class="infoTitle">당신을 위한</span><br>
                <span class="infoTitle">망한 영화 리뷰</span><br>
                <br>
                <span class="infoTitleContent">모래 속의 진주와 같은 영화를 봤으면 여러분의 생각을</span><br>
                <span class="infoTitleContent"> 리뷰로 적어 보는 게 어떨까요?</span>
                <br>
                <div class="tmdb">
                    <a href="https://www.themoviedb.org/">
                        <img class="tmdbLofo"
                             src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg">
                    </a>
                    <span class="tmdbText">기준 6점 이하만 리뷰 작성이 가능합니다.</span>
                </div>
            </div>
            <div class="infoImg">
                <a class="movieLink link1" href="https://mangjakseon.com/movie/452015">
                    <div>염력 (2018)</div>
                </a>
            </div>
        </div>

        <div class="listGap"></div>
        <div class="listGap"></div>
        <div class="listTitle">회원 가입</div>
        <div class="listGap"></div>

        <div class="signGroup">
            <div class="singImg">
                <a class="movieLink link2" href="https://mangjakseon.com/movie/467824">
                    <div>인랑 (2018)</div>
                </a>
            </div>

            <form method="post" action="/register">
                <div class="signUp">
                    <div class="form-group">
                        <input class="email" type="text" name="email" placeholder="이메일을 입력해주세요"/><br>
                        <span th:if="${valid_email}" class="valid">[[${valid_email}]]</span>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" id="singPassword" name="password" placeholder="비밀번호를 입력해주세요"/>
                        <span th:if="${valid_password}" class="valid">[[${valid_password}]]</span>
                    </div>
                    <br>
                    <div>

                        <input type="password" id="passwordConfirm" placeholder="비밀번호를 다시 입력해주세요"
                               onkeyup="passConfirm()"/>
                        <span id="confirmMsg"></span>
                    </div>
                    <br>
                    <div class="form-group">
                        <input class="nickname" type="text" name="nickname" placeholder="닉네임을 입력해주세요"/><br>
                        <span th:if="${valid_nickname}" class="valid">[[${valid_nickname}]]</span>
                    </div>
                    <br>
                    <button class="signButton" type="submit">등록</button>
                </div>
            </form>
        </div>
    </th:block>
</th:block>
