<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign-Up</title>
</head>
<th:block th:fragment="setLogin(signup)">
<body>
<form method="post" action="/register">
    <h1>회원가입 페이지</h1>
    <p>ID: <input type="text" name="email" placeholder="Email"> <button type="button" onclick="#">중복체크</button></p>
    <p>PW: <input type="text" name="password" placeholder="Password"></p>
    <p>닉네임: <input type="text" name="nickname" placeholder="Nickname"> <button type="button" onclick="#">중복체크</button></p>
    <p>프로필사진: ajax로 업로드 된 사진 표시 </p><button type="button" class="uploadBtn">upload</button>
    <button type="submit">등록</button>
</form>
</body>
</th:block>
</html>